In [61]:
import csv

new = []
with open('Athletes.csv', 'r') as file:
    csv_file = csv.DictReader(file)
    for row in csv_file:
        new.append(dict(row))

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Athletes.csv')

In [3]:
data.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

In [13]:
data.groupby('NOC').count()

                         Name  Discipline
NOC
Afghanistan                 5           5
Albania                     8           8
Algeria                    41          41
American Samoa              5           5
Andorra                     2           2
...                       ...         ...
Virgin Islands, British     3           3
Virgin Islands, US          4           4
Yemen                       3           3
Zambia                     29          29
Zimbabwe                    5           5

[206 rows x 2 columns]

In [19]:
# Which top 10 countries have the most athletes?
data.groupby('NOC')['Name'].count().sort_values(ascending=False).head(10)

NOC
United States of America      615
Japan                         586
Australia                     470
People's Republic of China    401
Germany                       400
France                        377
Canada                        368
Great Britain                 366
Italy                         356
Spain                         324
Name: Name, dtype: int64

In [22]:
# What sport has the most participants?
data.groupby('Discipline')['Name'].count().sort_values(ascending=False).head(1)

Discipline
Athletics    2068
Name: Name, dtype: int64

In [26]:
# How many athletes do countries have on average?
# data.groupby('NOC')['Name'].count()

NOC
Afghanistan                 5
Albania                     8
Algeria                    41
American Samoa              5
Andorra                     2
                           ..
Virgin Islands, British     3
Virgin Islands, US          4
Yemen                       3
Zambia                     29
Zimbabwe                    5
Name: Name, Length: 206, dtype: int64

In [27]:
# How many athletes do Indonesia have?
indonesia = data[data['NOC'] == 'Indonesia']

In [33]:
indonesia.duplicated().sum()

0

In [36]:
total_indonesia = indonesia.shape
total_indonesia[0]

26

In [40]:
# What sport has the least number of participants?
data.groupby('Discipline')['Name'].count().sort_values().head(1)

Discipline
Cycling BMX Freestyle    19
Name: Name, dtype: int64

In [49]:
# Which countries have the least participants?
sort = data.groupby('NOC')['Name'].count().sort_values()
minimum = data.groupby('NOC')['Name'].count().min()
least = {}
for k,v in sort.items():
    if v == minimum:
        least[k] = v

In [50]:
least

{'Dominica': 2,
 'St Vincent and the Grenadines': 2,
 'Lesotho': 2,
 'Brunei Darussalam': 2,
 'Saint Kitts and Nevis': 2,
 'Nauru': 2,
 'Myanmar': 2,
 'South Sudan': 2,
 'Tuvalu': 2,
 'United Republic of Tanzania': 2,
 'Vanuatu': 2,
 'Andorra': 2,
 'Bermuda': 2,
 'Mauritania': 2,
 'Marshall Islands': 2,
 'Central African Republic': 2,
 'Somalia': 2}

In [51]:
# Which sport has the least participants?
sort_sports = data.groupby('Discipline')['Name'].count().sort_values()
min_sports = data.groupby('Discipline')['Name'].count().min()
least_sports = {}
for k,v in sort_sports.items():
    if v == min_sports:
        least_sports[k] = v

In [52]:
least_sports

{'Cycling BMX Freestyle': 19}

In [56]:
# How many countries have athletes more than Indonesia?
countries = {}
count = 0
for k,v in sort.items():
    if v > sort['Indonesia']:
        countries[k] = v
        count += 1
print('Terdapat {} negara yang memiliki atlet lebih banyak dari Indonesia. Berikut merupakan negaranya:'.format(count))
countries

Terdapat 78 negara yang memiliki atlet lebih banyak dari Indonesia. Berikut merupakan negaranya:

{'Fiji': 28,
 'Zambia': 29,
 'Malaysia': 29,
 "Côte d'Ivoire": 29,
 'Latvia': 29,
 'Bahrain': 31,
 'Trinidad and Tobago': 31,
 'Saudi Arabia': 32,
 'Peru': 33,
 'Estonia': 33,
 'Georgia': 35,
 'Montenegro': 35,
 'Puerto Rico': 35,
 'Lithuania': 37,
 'Slovakia': 38,
 'Thailand': 39,
 'Hong Kong, China': 40,
 'Algeria': 41,
 'Azerbaijan': 41,
 'Bulgaria': 41,
 'Ethiopia': 42,
 'Mongolia': 43,
 'Venezuela': 43,
 'Finland': 45,
 'Ecuador': 46,
 'Morocco': 48,
 'Slovenia': 51,
 'Chile': 56,
 'Croatia': 57,
 'Tunisia': 57,
 'Nigeria': 59,
 'Jamaica': 60,
 'Dominican Republic': 61,
 'Uzbekistan': 63,
 'Colombia': 64,
 'Islamic Republic of Iran': 66,
 'Chinese Taipei': 67,
 'Cuba': 69,
 'Austria': 72,
 'Greece': 75,
 'Kenya': 78,
 'Serbia': 83,
 'Portugal': 85,
 'Israel': 85,
 'Kazakhstan': 92,
 'Norway': 92,
 'Romania': 99,
 'Turkey': 102,
 'Denmark': 103,
 'Belarus': 104,
 'Switzerland': 115,
 'Ireland': 116,
 'India': 117,
 'Czech Republic': 117,
 'Belgium': 125,
 'Sweden': 129,
 'Egypt': 133,
 'Ukraine': 152,
 'Mexico': 155,
 'Hungary': 155,
 'South Africa': 171,
 'Argentina': 180,
 'Poland': 195,
 'New Zealand': 202,
 'Republic of Korea': 223,
 'Netherlands': 274,
 'Brazil': 291,
 'ROC': 318,
 'Spain': 324,
 'Italy': 356,
 'Great Britain': 366,
 'Canada': 368,
 'France': 377,
 'Germany': 400,
 "People's Republic of China": 401,
 'Australia': 470,
 'Japan': 586,
 'United States of America': 615}