## Simple Syntax

In [1]:
print("Halo, Nama saya Ghina")

Halo, Nama saya Ghina

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

## Library

In [8]:
import pandas as pd
import numpy as np

In [10]:
np_array = np.array([[10,20,30],[40,50,60]])
data = pd.DataFrame(np_array, columns = ['A', 'B', 'C'])
data

    A   B   C
0  10  20  30
1  40  50  60

## Latex

In [ ]:
# Latex dengan markdown "$$ c=\sqrt(a^2+b^2) $$"

$$ c=\sqrt(a^2+b^2) $$

In [11]:
# Latex dengan python
from IPython.display import display, Math, Latex
display(Math(r'\sqrt(a^2+b^2)'))

## Shell

In [14]:
!dir  # Windows

 Volume in drive D is New Volume
 Volume Serial Number is F44E-8F12

 Directory of D:\Hacktiv8\H8_001\Pertemuan 1

08/25/2021  10:18 AM    <DIR>          .
08/25/2021  10:18 AM    <DIR>          ..
08/25/2021  07:23 AM    <DIR>          .ipynb_checkpoints
08/25/2021  10:18 AM             4,313 Introduction Basic Syntax, Data Type, and Variable.ipynb
               1 File(s)          4,313 bytes
               3 Dir(s)  221,731,844,096 bytes free

In [17]:
# Passing value ke dan dari shell
files = !dir
print(files)

[' Volume in drive D is New Volume', ' Volume Serial Number is F44E-8F12', '', ' Directory of D:\\Hacktiv8\\H8_001\\Pertemuan 1', '', '08/25/2021  10:18 AM    <DIR>          .', '08/25/2021  10:18 AM    <DIR>          ..', '08/25/2021  07:23 AM    <DIR>          .ipynb_checkpoints', '08/25/2021  10:18 AM             4,313 Introduction Basic Syntax, Data Type, and Variable.ipynb', '               1 File(s)          4,313 bytes', '               3 Dir(s)  221,731,844,096 bytes free']