## Intro to Python

### Integer

In [1]:
print(5)
print(type(10))

5
<class 'int'>

In [2]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

### Float

In [3]:
print(4.2)
print(type(4.2))

4.2
<class 'float'>

In [4]:
print(4.)

print(.2)

4.0
0.2

In [5]:
print(.4e7) ### 0.4 x 10^7 = 4000000
 
print(4.2e-4) ### 4.2 x 10^-4 = 0.00042

4000000.0
0.00042

### String

In [6]:
print('Hello World!')
print(type('Hello World!'))

Hello World!
<class 'str'>

### Boolean

In [7]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

### Variable Assignment

In [8]:
n = 1000
print(n)

1000

In [9]:
a = b = c = 300
print(a, b, c)

300 300 300

### Operators and Expressions

In [10]:
a = 10
b = 20
a + b

30

In [11]:
a + b - 5

25

In [12]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

30
-10
200
0.5
10
100000000000000000000

In [13]:
print(a == b)
print(a != b)
print(a <= b)
print(a >= b)
print(a < b)
print(a > b)

False
True
True
False
True
False

### String Manipulation

In [14]:
str1 = 'hello'
str2 = 'world'
str3 = '!'

### + operation
print(str1 + str2 + str3)

### * operation
print(str1*4)

### in operator
print('hell' in str1)
print('hell' in str2)

helloworld!
hellohellohellohello
True
False

In [15]:
### Case Conversion

string = 'hellOWorlD!'

### Capitalize
print(string.capitalize())

### Lower
print(string.lower())

### Swapcase
print(string.swapcase())

### Title
print('the trial of the chicago 7'.title())

### Uppercase
print(string.upper())

Helloworld!
helloworld!
HELLowORLd!
The Trial Of The Chicago 7
HELLOWORLD!

### List

Karakteristik List
- Lists are ordered
- Lists can contain any arbitrary objects.
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable.
- Lists are dynamic.

In [16]:
simple_list = ['lucy', 'julia', 'joanne', 'judy', 'hussey']
print(simple_list)

['lucy', 'julia', 'joanne', 'judy', 'hussey']

In [17]:
### list are ordered
a = ['lucy', 'julia', 'joanne', 'judy', 'hussey']
b = ['julia', 'lucy', 'joanne', 'judy', 'hussey']
c = ['lucy', 'julia', 'joanne', 'judy', 'hussey']

print(a == b)
print(a == c)

False
True

In [18]:
### list can contain any arbitrary objects
a = [21.42, 'sam', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'sam', 3, 4, 'bark', False, 3.14159]

In [19]:
### list elements can be accessed by index
simple_list = ['lucy', 'julia', 'joanne', 'judy', 'hussey']

print(simple_list[0])
print(simple_list[2])
print(simple_list[3])
print(simple_list[-1])
print(simple_list[-4])
print(simple_list[1:4])
print(simple_list[0:-1])
print(simple_list[3:])

lucy
joanne
judy
hussey
julia
['julia', 'joanne', 'judy']
['lucy', 'julia', 'joanne', 'judy']
['judy', 'hussey']

In [20]:
### concatenation (+) and replication (*) operator
a = ['foo', 'bar', 'baz']
print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'grault', 'garply']
['foo', 'bar', 'baz', 'foo', 'bar', 'baz']

In [21]:
### len(), min(), max()
print(simple_list)

print(len(simple_list))
print(min(simple_list))
print(max(simple_list))

['lucy', 'julia', 'joanne', 'judy', 'hussey']
5
hussey
lucy

In [22]:
### Modifying a Single List Value
simple_list = ['lucy', 'julia', 'joanne', 'judy', 'hussey']
print("before : {list}".format(list=simple_list))

simple_list[2] = 'ryujin'
simple_list[-1] = 'yuna'

print("after : {list}".format(list=simple_list))

before : ['lucy', 'julia', 'joanne', 'judy', 'hussey']
after : ['lucy', 'julia', 'ryujin', 'judy', 'yuna']

In [23]:
### delete item in list
print("before : {list}".format(list=a))

del a[1]

print("after : {list}".format(list=a))

before : ['foo', 'bar', 'baz']
after : ['foo', 'baz']

In [24]:
### Modifying Multiple List Values
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

### Tuple

In [25]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [26]:
print(t[0])

print(t[-1])

foo
corge

In [27]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
print(s1)
print(s2)
print(s3)
print(s4)

foo
bar
baz
qux

### Dictionary

In [28]:
netflix = {
    'judul':'Fear Street: Part One', 
    'tahun': 2021, 
    'genre':['drama','horror','mystery']
}

In [29]:
### Accessing Dictionary Values
print(netflix['judul'])
print(netflix['genre'])

Fear Street: Part One
['drama', 'horror', 'mystery']

In [30]:
### Adding an entry to an existing dictionary
netflix['imdb rating'] = '6.2/10'
netflix

{'judul': 'Fear Street: Part One',
 'tahun': 2021,
 'genre': ['drama', 'horror', 'mystery'],
 'imdb rating': '6.2/10'}

In [31]:
### Update an entry
netflix['imdb rating'] = '6.3/10'
netflix

{'judul': 'Fear Street: Part One',
 'tahun': 2021,
 'genre': ['drama', 'horror', 'mystery'],
 'imdb rating': '6.3/10'}

In [32]:
### Delete an entry
del netflix['imdb rating']
netflix

{'judul': 'Fear Street: Part One',
 'tahun': 2021,
 'genre': ['drama', 'horror', 'mystery']}

In [33]:
### Building a Dictionary Incrementally
person = {}
type(person)

person['fname'] = 'Lucy'
person['lname'] = 'Hwang'
person['age'] = 21
person['pets'] = {'dog': ['Hongsam','Insam']}
person['sibling'] = ['Hj','Nk','Gk']

In [34]:
print(person)
print(person['fname'])
print(person['lname'])
print(person['pets']['dog'][1])
print(person['sibling'][0])

{'fname': 'Lucy', 'lname': 'Hwang', 'age': 21, 'pets': {'dog': ['Hongsam', 'Insam']}, 'sibling': ['Hj', 'Nk', 'Gk']}
Lucy
Hwang
Insam
Hj

In [35]:
### Built-in Methods
# items
print(netflix.items())

# keys
print(netflix.keys())

# values
print(netflix.values())

dict_items([('judul', 'Fear Street: Part One'), ('tahun', 2021), ('genre', ['drama', 'horror', 'mystery'])])
dict_keys(['judul', 'tahun', 'genre'])
dict_values(['Fear Street: Part One', 2021, ['drama', 'horror', 'mystery']])

In [56]:
### Frekuensi di suatu string
from collections import defaultdict
default_d = defaultdict(int)
string = "aaa bb bb aaa aaa c"
for i in string.split():
    default_d[i] += 1
print(default_d)

defaultdict(<class 'int'>, {'aaa': 3, 'bb': 2, 'c': 1})

## Jupyter Notebook

### Simple Syntax

In [36]:
print("Halo, Nama saya Ghina")

Halo, Nama saya Ghina

In [37]:
for i in range(5):
    print(i)

0
1
2
3
4

### Library

In [38]:
import pandas as pd
import numpy as np

In [39]:
np_array = np.array([[10,20,30],[40,50,60]])
data = pd.DataFrame(np_array, columns = ['A', 'B', 'C'])
data

    A   B   C
0  10  20  30
1  40  50  60

### Latex

In [40]:
# Latex dengan markdown "$$ c=\sqrt(a^2+b^2) $$"

$$ c=\sqrt(a^2+b^2) $$

In [41]:
# Latex dengan python
from IPython.display import display, Math, Latex
display(Math(r'\sqrt(a^2+b^2)'))

### Shell

In [53]:
!dir

 Volume in drive D is New Volume
 Volume Serial Number is F44E-8F12

 Directory of D:\Hacktiv8\H8_001\Pertemuan 1

08/29/2021  12:28 AM    <DIR>          .
08/29/2021  12:28 AM    <DIR>          ..
08/25/2021  07:23 AM    <DIR>          .ipynb_checkpoints
08/25/2021  10:31 PM           103,593 Ghina Khoerunnisa - Memahami Jupyter Notebook.pdf
08/25/2021  06:48 AM            94,384 Ghina Khoerunnisa - Sesi 1 - Introduction_ Basic Syntax, Data Type, and Variable.pdf
08/29/2021  12:28 AM            23,449 Introduction Basic Syntax, Data Type, and Variable.ipynb
               3 File(s)        221,426 bytes
               3 Dir(s)  221,590,556,672 bytes free

In [54]:
# Passing value ke dan dari shell
files = !dir
print(files)

[' Volume in drive D is New Volume', ' Volume Serial Number is F44E-8F12', '', ' Directory of D:\\Hacktiv8\\H8_001\\Pertemuan 1', '', '08/29/2021  12:28 AM    <DIR>          .', '08/29/2021  12:28 AM    <DIR>          ..', '08/25/2021  07:23 AM    <DIR>          .ipynb_checkpoints', '08/25/2021  10:31 PM           103,593 Ghina Khoerunnisa - Memahami Jupyter Notebook.pdf', '08/25/2021  06:48 AM            94,384 Ghina Khoerunnisa - Sesi 1 - Introduction_ Basic Syntax, Data Type, and Variable.pdf', '08/29/2021  12:28 AM            23,449 Introduction Basic Syntax, Data Type, and Variable.ipynb', '               3 File(s)        221,426 bytes', '               3 Dir(s)  221,590,556,672 bytes free']